<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
  <style>
    html { background-color: #e9e5e2 !important; }
    body { background-color: #e9e5e2 !important; visibility: hidden; } /* 用 visibility 代替 opacity */
  </style>

  {{ partial "head.html" . }}

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      document.body.style.visibility = 'visible';
    });
  </script>
</head>
 
  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header>{{ partial "header.html" . }}</header>
    <main id="main-content">{{ block "main" . }}{{ end }}</main>
    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>