{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  {{/* Table of Contents */}}
  {{ $hasToC := .Params.toc | default true }}
  {{ $headers := findRE "<h[2-6]" .Content }}
  {{ if and $hasToC (ge (len $headers) 1) }}
    <nav class="toc">
      <strong>Table of contents</strong>
      <div class="toc-content">
        {{ .TableOfContents }}
      </div>
    </nav>
  {{ end }}

  <!-- Content -->
  {{ .Content }}
  <div class="time">{{ partial "date.html" .Date}}</div>

  <!-- 🛠️ Twikoo 匿名信箱区开始 -->
  <div style="margin: 4em auto 2em; max-width: 650px; padding: 0 1em;">
      <hr style="border: none; border-top: 1px dashed rgba(140, 67, 50, 0.2); margin-bottom: 2em;">
      <div id="tcomment"></div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/twikoo@1.7.9/dist/twikoo.all.min.js"></script>
  <script>
    twikoo.init({
      envId: 'https://comment.jiaozhong.xyz',
      el: '#tcomment',
      lang: 'zh-CN'
    });
  </script>
  <!-- 🛠️ Twikoo 结束 -->

  <!-- Comments block -->
  {{ if and .Content (default true (default .Site.Params.comments
    .Params.comments))
  }}
    <div class="comments">{{- partial "comments" . -}}</div>
  {{ end }}

  {{ if not .IsHome }}
    <div class="terminal-nav">
      <div class="back-nav">
        {{ with .Parent }}
          <a href="{{ .RelPermalink }}" class="back-link">../</a>
        {{ else }}
          <a href="{{ "/" | relURL }}" class="back-link">../</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
